*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 160%;
	color: #141414;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
	background-image: url(../img/main_bg.jpg);
	background-repeat: no-repeat;
	background-position: center -100px;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}


.header {
	padding: 45px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 700;
	transition: all 0.5s;
}
.header.fixed {
	padding: 34px 0;
	background: #FFF;
	box-shadow: 2px 6px 15px 0px rgba(117, 106, 154, 0.30);
}
.header__wrapper {
	margin-right: -80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
.header__contacts {
	font-size: 12px;
	line-height: 140%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header__contacts p {
	margin: 0;
}
.phone-main {
	font-size: 17px;
	color: #141414;
	font-weight: 700;
	line-height: 140%;
}
.btn-menu {
	width: 50px;
	height: 50px;
	margin-left: 50px;
	flex: none;
	background-image: url(../img/menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	transition: all 0.8s;
}
.btn-menu:hover {
	transform: rotate(180deg);
}
.list-socials {
	display: flex;
	align-items: center;
}
.list-socials li {
	margin-right: 28px;
}
.list-socials li:last-child {
	margin-right: 0;
}
.header .list-socials {
	margin-right: 100px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.header.header.fixed .list-socials {
	visibility: visible;
	opacity: 1;
}
.list-socials a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #3D388A;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
.header.fixed .socials-vertical {
	margin-right: 70px;
	position: relative;
	top: 0;
	right: 0;
	flex-direction: row;
	width: auto;
	height: auto;
}
.header.fixed .socials-vertical li {
	margin-right: 28px;
}
*/

.title-big {
	font-size: 48px;
	font-weight: 700;
	line-height: 140%; 
}
.content-billbord {
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content-billbord__inner {
	max-width: 706px;
	margin-left: 85px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.socials-vertical {
	margin-right: -80px;
	width: 140px;
	height: 364px;
	border-radius: 10px;
	background: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: all 0.7s;
	flex: none;
}
.socials-vertical a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #3D388A;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-socials a:hover,
.socials-vertical a:hover {
	background-color: #181454;
}
.list-page li {
	font-size: 20px;
	padding-left: 40px;
	margin-bottom: 10px;
	line-height: 160%;
	font-weight: 500;
	color: #756A9A;
	position: relative;
}
.list-page li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "●";
}
.billbord .title-big {
	margin-bottom: 46px;
}
.billbord__buttons {
	padding-top: 55px;
	display: flex;
	align-items: center;
}
.btn-main {
	height: 64px;
	padding: 0 52px;
	font-size: 16px;
	font-weight: 500;
	line-height: 140%;
	background: #322968;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-main:hover {
	background: #1b153e;
}
.btn-video {
	font-size: 13px;
	line-height: 140%;
	color: #141414;
	display: inline-flex;
	align-items: center;
}
.btn-video img {
	margin-right: 22px;
	flex: none;
	transition: all 0.5s;
}
.btn-video:hover img {
	transform: scale(1.1);
}
.btn-video span {
	max-width: 106px;
}
.billbord__buttons .btn-main {
	margin-right: 74px;
}

.sidebar {
	padding: 54px 70px;
	padding-right: 32px;
	top: 0;
	left: 0;
	width: 363px;
	z-index: 800;
	height: 100%;
	overflow: auto;
	background: #322867;
	position: fixed;
	color: #fff;
}
.sidebar::-webkit-scrollbar {
	-webkit-appearance: none;
}
  .sidebar::-webkit-scrollbar:vertical {
	width: 5px;
}
  .sidebar::-webkit-scrollbar:horizontal {
	height: 5px;
}
  .sidebar::-webkit-scrollbar-thumb {
	background-color: #444;
	border-radius: 10px;
}
  .sidebar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #D9D9D9;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 176px;
}
.logo-descr {
	margin-top: 18px;
	margin-bottom: 75px;
	max-width: 160px;
	line-height: 140%;
}
.menu > li {
	padding: 25px 0;
	line-height: 140%;
}
.menu > li > a {
	color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu > li > a:hover {
	opacity: 0.6;
}
.menu__haschild > a {
	font-weight: 600;
	position: relative;
}
.menu__haschild > a::after {
	font-size: 15px;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	content: "\f078";
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.menu__haschild.active > a::after {
	transform: rotate(180deg);
}
.menu ul li {
	margin-bottom: 25px;
}
.menu ul li:last-child {
	margin-bottom: 0;
}
.menu ul li a {
	color: #F5F5F5;
	border-bottom: 1px transparent solid;
}
.menu ul li a:hover {
	border-color: #fff;
}
.menu ul {
	padding-top: 13px;
	display: none;
}

.services {
	padding-bottom: 70px;
}
.services .title-section {
	padding-top: 0;
}
.title-section {
	font-size: 36px;
	padding: 39px 0;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 1.08px;
	margin: 0;
}
.block-services {
	border-radius: 30px 30px 0px 0px;
	background: #FFF;
	box-shadow: 10px 0 10px #3329690d;
}
.item-service {
	border-radius: 30px 30px 0px 0px;
	box-shadow: 0 -10px 10px #3329690d;
	background: #FFF;
}
.item-service:last-child {
	padding-bottom: 30px;
}
.item-service__head {
	padding: 30px 28px;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	color: #000;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.item-service__head span {
	margin-right: 30px;
	color: #756A9A;
	font-size: 15px;
	font-weight: 500;
	line-height: 200%; 
}
.item-service__content {
	padding: 0 77px;
	padding-bottom: 46px;
	display: none;
}
.item-service:first-child .item-service__content {
	display: block;
}
.list-links a {
	padding: 17px 0;
	font-size: 20px;
	color: #332969;
	font-style: normal;
	font-weight: 500;
	line-height: 200%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #C1C1C1;
}
.list-links a i {
	transition: all 0.3s;
}
.list-links a:hover i {
	transform: translateX(10px);
}
.list-links li:last-child a {
	border-bottom: 1px solid #C1C1C1;
}
.list-links {
	padding-right: 20px;
}
.image-services img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}

.numbers-about {
	padding-bottom: 40px;
}
.numbers-about .title-section {
	padding-bottom: 20px;
}
.item-number {
	padding-left: 65px;
	font-size: 18px;
	max-width: 325px;
	margin: 60px auto;
	font-weight: 500;
	line-height: 160%;
	position: relative;
	color: #332969;
}
.item-number__value {
	font-size: 66px;
	margin-bottom: 9px;
	font-weight: 600;
	line-height: 140%;
}
.item-number::before {
	position: absolute;
	display: block;
	content: " ";
	top: 109px;
	left: 0;
	width: 24px;
	height: 24px;
	background-image: url(../img/before_line.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.wrapper,
.wrapper .header {
	padding-left: 363px;
}

.portfolio {
	padding-top: 40px;
	padding-bottom: 110px;
}
.portfolio .title-section {
	max-width: 961px;
	margin: 0 auto;
	text-align: center;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs li {
	padding: 0 5px;
}
.tabs a {
	height: 46px;
	padding: 0 26px;
	font-size: 16px;
	color: #322867;
	font-weight: 500;
	line-height: 140%;
	border-radius: 3px;
	border: 1px solid #756A9A;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.tabs .active a,
.tabs a:hover {
	border-color: #332969;
	background: #332969;
	color: #fff;
}
.block-portfolio {
	padding: 35px 50px;
	border-radius: 20px;
	background: #FFF;
}
.title-middle {
	font-size: 24px;
	font-weight: 600;
	line-height: 140%;
}
.title-small {
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
}
.text-min {
	font-size: 13px;
	color: #3D388A;
}
.item-portfolio__image {
	padding: 0 1px;
}
.item-portfolio__image img {
	max-width: 100%;
	height: auto;
}
.item-portfolio .title-middle {
	margin-bottom: 13px;
	color: #000;
}
.item-portfolio .title-small {
	margin-bottom: 14px;
	color: #000;
}
.item-portfolio .text-min {
	margin-bottom: 23px;
}
.item-portfolio__content .title-small {
	margin-bottom: 6px;
	font-weight: 600;
	color: #332969;
}
.item-portfolio__content p {
	margin-bottom: 18px;
	letter-spacing: 0.28px;
}
.item-portfolio__content {
	position: relative;
}
.item-portfolio__bottom {
	margin-bottom: -2px;
	width: 110px;
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	background-color: #fff;
	z-index: 2;
	margin-right: -30px;
	position: relative;
}
.link-page {
	color: #332969;
	border-bottom: 1px solid #332969;
	font-weight: 500;
	line-height: 140%;
	display: inline-block;
}
.link-page:hover {
	border-color: transparent;
}
.item-portfolio__content {
	padding-top: 16px;
	margin-right: 30px;
	min-height: 100%;
	border-top: 1px solid #D5D1E2;
	border-bottom: 1px solid #D5D1E2;
}
.item-portfolio__content::after,
.item-portfolio__content::before {
	position: absolute;
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	margin-right: 17px;
	right: 100%;
	bottom: -1px;
	background-image: url(../img/before.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-portfolio__content::after {
	right: auto;
	left: 100%;
	margin: 0;
	margin-left: 17px;
	top: -1px;
	bottom: auto;
	background-image: url(../img/after.svg);
}
.item-portfolio__left {
	max-width: 297px;
}
.tab-container {
	padding-top: 57px;
}
.slick-arrow {
	width: 24px;
	height: 24px;
	font-size: 21px;
	color: #332969;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	top: 50%;
	transition: all 0.3s;
}
.slick-arrow:hover {
	color: #332969;
	opacity: 0.6;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-portfolio .slick-prev {
	left: -100px;
}
.slider-portfolio .slick-next {
	right: -100px;
}
.slick-arrow::before {
	display: none;
}
.slick-dots {
	bottom: 0;
}
.slick-dots li button {
	color: #322867;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	border: none;
	width: auto;
	height: auto;
	padding: 0;
	background: transparent !important;
}
.slick-dots li {
	margin: 0 22px;
	width: auto;
	height: auto;
}
.slider-portfolio .slick-dots {
	bottom: -80px;
}
.slick-dots li button:before {
	display: none;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}

.steps .title-section,
.consultation .title-section {
	padding-bottom: 9px;
}
.descr-section {
	font-size: 20px;
	padding-bottom: 48px;
	font-weight: 500;
	line-height: 200%;
	color: #000;
}
.consultation {
	padding-top: 30px;
	padding-bottom: 100px;
}
.form-main {
	padding: 48px 105px;
	border-radius: 30px;
	background: #FFF;
	box-shadow: 0 0 20px #33296914;
}
.item-form {
	margin-bottom: 15px;
}
.item-form__title {
	font-size: 13px;
	padding-bottom: 11px;
	line-height: 140%;
}
.item-form input {
	height: 58px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 140%;
	font-family: 'Montserrat';
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	background: #F4F3F7;
	width: 100%;
	color: #141414;
}
.checkbox {
	font-size: 12px;
	line-height: normal;
	margin-top: 20px;
	color: #756A9A;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 5px 0 0 32px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #756A9A;
	border-radius: 0px;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #756A9A;
	font-size: 12px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.form-main__bottom {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-main__bottom .checkbox {
	margin: 0;
}

.steps {
	padding-bottom: 100px;
}
.slider-accordion {
    display: flex;
	border-radius: 30px 0px 0px 30px;
	box-shadow: 10px 0 10px #33296914;
	background-color: #fff;
}
.item-accordion {
    display: flex;
    height: 590px;
    border-radius: 30px 0px 0px 30px;
	box-shadow: -10px 0 10px #33296914;
    background-color: #fff;
}
.item-accordion.active {
    flex: 1 1 0%;
}
.item-accordion.active .item-accordion__head {
    width: 0;
    opacity: 0;
}
.item-accordion.active .item-accordion__content {
    width: 100%;
}
.item-accordion.active .item-accordion__inner {
    transform: scaleX(1);
}
.item-accordion__head {
    padding: 23px 0;
    width: 133px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}
.item-accordion__title {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    line-height: 140%;
}
.item-accordion__head .item-accordion__title {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.item-accordion__content {
    width: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-accordion__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 80px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    height: 100%;
    transition: all 0.5s;
	position: relative;
}
.item-accordion__text {
    max-height: 80%;
	scrollbar-width: thin;
	scrollbar-color: #444 #D9D9D9;
    overflow: auto;
}
.item-accordion__text p {
	margin-bottom: 15px;
	letter-spacing: 0.28px;
}
.item-accordion__text::-webkit-scrollbar {
	-webkit-appearance: none;
  }
  .item-accordion__text::-webkit-scrollbar:vertical {
	width: 3px;
  }
  .item-accordion__text::-webkit-scrollbar:horizontal {
	height: 3px;
  }
  .item-accordion__text::-webkit-scrollbar-thumb {
	background-color: #444;
	border-radius: 10px;
  }
  .item-accordion__text::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #D9D9D9;
  }
  .number-accordion {
	color: #756A9A;
	font-size: 15px;
	font-weight: 500;
}
.item-accordion__head .number-accordion {
	margin-bottom: 42px;
}
.item-accordion__inner .number-accordion {
	top: 29px;
	left: 32px;
	position: absolute;
}
.item-accordion__top {
	margin-bottom: 48px;
}
.item-accordion .btn-main {
	width: 100%;
	padding: 0 10px;
}
.item-accordion__text form {
	margin-top: 70px;
}
.steps .tabs {
	justify-content: flex-start;
}
.steps .descr-section {
	padding-bottom: 28px;
}
.steps .tab-container {
	padding-top: 37px;
}

.about {
	padding-bottom: 64px;
}
.about .title-section {
	padding-bottom: 16px;
}
.about .descr-section {
	padding-bottom: 29px;
	line-height: 160%;
}
.about__text {
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.32px;
}
.about__text p {
	margin: 0;
}
.about__name {
	font-size: 18px;
	padding-top: 54px;
	padding-bottom: 11px;
	font-weight: 500;
	line-height: 160%;
}
.about__descr {
	font-weight: 500;
}
.about__left {
	margin-right: -30px;
}
.about__image img {
	border-radius: 30px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
}
.about__image {
	margin-left: 30px;
	padding-top: 15px;
}
.about__bottom {
	padding-top: 99px;
	text-align: center;
}

.footer {
	padding-top: 39px;
	color: #fff;
	background: #20184D;
}
.footer__contacts {
	font-size: 12px;
	line-height: 140%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footer__contacts p {
	margin-bottom: 6px;
}
.footer__nav li {
	margin-bottom: 20px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px transparent solid;
	line-height: normal;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer__title {
	margin-bottom: 21px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}
.footer__main .footer__nav {
	color: #F5F5F5;
}
.footer__main .footer__nav a:hover {
	border-color: #F5F5F5;
}
.footer .phone-main {
	color: #fff;
}
.footer .footer__services {
	padding-left: 70px;
}
.footer .footer__main {
	padding-left: 20px;
}
.footer__logo .logo-descr {
	font-size: 12px;
	margin-bottom: 0;
	max-width: 100%;
	line-height: 140%;
}
.footer__logo {
	width: 218px;
}
.footer-bottom {
	padding: 10px 0;
	margin-top: 38px;
	color: #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-bottom a {
	color: #fff;
}
.footer-bottom a:hover {
	opacity: 0.7;
}
.btn_top {
	font-size: 18px;
	float: right;
	position: relative;
	color: #20184D !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #ffff;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #fff;
}
.phone-mobile,
.header__logo {
	display: none;
}

.wrapper.wrapper_page {
	padding-top: 119px;
	background-image: url(../img/main_bg2.jpg);
}
.wrapper_page .header {
	padding-top: 34px;
	padding-bottom: 34px;
	background: #FFF;
	box-shadow: 2px 6px 15px 0px rgba(117, 106, 154, 0.30);
}
.wrapper_page .header .list-socials {
	visibility: visible;
	opacity: 1;
}
.block-billbord {
	padding: 50px;
	max-width: 1120px;
	border-radius: 30px;
	background: #FFF;
}
.block-billbord__image img {
	max-width: 100%;
	height: auto;
}
.list-main li {
	font-size: 18px;
	font-weight: 500;
	line-height: 160%; 
	margin-bottom: 35px;
	padding-left: 37px;
	position: relative;
	color: #332969;
}
.list-main li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	top: 4px;
	left: 0;
	background-image: url(../img/li.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.block-billbord .list-main {
	padding-top: 25px;
	padding-bottom: 30px;
}
.services-unit {
	padding: 99px 50px;
	border-radius: 30px;
	background: #FFF;
}
.services-unit .list-links a {
	font-size: 24px;
	color: #000;
	font-weight: 600;
}
.item-number__value b {
	font-size: 64px;
}
.services-main .item-number {
	margin: 0;
	margin-bottom: 65px;
}
.col_nums .row > div:last-child .item-number {
	margin-bottom: 0;
}
.services-main  .item-number__value {
	white-space: nowrap;
}
.billbord-service {
	padding-top: 20px;
}
.services-main,
.billbord-service {
	padding-bottom: 100px;
}
.block-main {
	padding: 35px 40px;
	font-size: 16px;
	line-height: 160%;
	border-radius: 20px;
	letter-spacing: 0.32px;
	font-weight: 500;
	background: #FFF;
	position: relative;
}
.block-main::before {
	position: absolute;
	display: block;
	content: " ";
	top: 35px;
	left: 40px;
	height: 1px;
	right: 75px;
	background: #D5D1E2;
}
.block-main::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 35px;
	right: 40px;
	height: 1px;
	left: 75px;
	background: #D5D1E2;
}
.block-main__content {
	padding: 55px 0;
}
.block-main__content::after, 
.block-main__content::before {
    position: absolute;
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
	bottom: 34px;
	left: 42px;
    background-image: url(../img/before.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block-main__content::after {
	top: 34px;
	right: 42px;
	bottom: auto;
	left: auto;
	background-image: url(../img/after.svg);
}
.service-info .title-section {
	text-align: center;
}
.list-simple li {
	padding-left: 37px;
	margin-bottom: 24px;
	font-weight: 500;
	position: relative;
}
.list-simple li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
	background-image: url(../img/li2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.list-simple li:last-child {
	margin-bottom: 0;
}
.image-service img {
	border-radius: 30px 30px 0px 0px;
	max-width: 100%;
	box-shadow: 0 -10px 20px #3329692e;
	height: auto;
}
.row_main > div {
	margin-bottom: 30px;
}
.service-info {
	padding-bottom: 77px;
}
.service-info +.service-info .title-section {
	padding-top: 0;
}
.block-main__price {
	font-size: 24px;
	padding: 17px 70px;
	padding-bottom: 20px;
	margin-bottom: 32px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.72px;
	color: #FFF;
	text-align: center;
	border-radius: 15px;
	background: #756A9A;
}
.block-main__price strong {
	font-size: 36px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 1.08px;
	display: block;
}
.block-main__center {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.service-info + .consultation .title-section {
	padding-top: 0;
}
.wrapper_page .header.fixed {
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper_finance .footer,
.wrapper_finance .btn-main,
.wrapper_finance .sidebar {
	background-color: #5A2255;
}
.wrapper_finance .item-number {
	color: #5A2255;
}
.wrapper_legal .footer,
.wrapper_legal .btn-main,
.wrapper_legal .sidebar {
	background-color: #2F6067;
}
.wrapper_legal .item-number {
	color: #2F6067;
}
.breadcrumbs {
	padding-top: 30px;
	padding-bottom: 9px;
	font-size: 13px;
	line-height: 140%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  }
  .breadcrumbs a {
	color: #141414;
	border-bottom: 1px solid transparent;
  }
  .breadcrumbs a:hover {
	border-color: #141414;
  }
  .breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
  }
  .breadcrumbs li:last-child::after {
	display: none;
  }
  .breadcrumbs + .title-section {
	padding-top: 0;
  }
  .item-form .jq-selectbox__select-text {
	height: 58px;
	padding: 0 20px;
	font-size: 13px;
	line-height: 140%;
	font-family: 'Montserrat';
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	background: #fff;
	width: 100%;
	color: #141414;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.item-form .jq-selectbox {
	width: 100%;
}
.jq-selectbox__dropdown {
	border-radius: 3px;
	font-size: 13px;
	line-height: 140%;
	border: 1px solid #d9d9d9;
	background: #fff;
	width: 100%;
	max-height: 300px;
	overflow: auto;
	top: 100% !important;
	bottom: auto !important;
}
.jq-selectbox__dropdown li {
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.jq-selectbox__dropdown li:hover {
	background-color: #f3f3f3;
}
.item-form .jq-selectbox__trigger {
	width: 19px;
	height: 19px;
	font-size: 12px;
	right: 15px;
	color: #332969;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
}
.item-form .jq-selectbox__trigger:before {
	content: "\f078";
}
.form-filter__wrap {
	display: flex;
	align-items: center;
}
.form-filter__wrap .item-form {
	margin-right: 8px;
	flex-grow: 1;
	margin-bottom: 0;
}
.form-filter .btn-main {
	height: 58px;
	padding: 0 30px;
}
.form-filter {
	margin-bottom: 36px;
}
.row_portfolio > div {
	margin-bottom: 30px;
}
.unit-portfolio {
	padding: 22px 48px;
	font-size: 16px;
	line-height: 140%;
	border-radius: 20px;
	letter-spacing: 0.32px;
	font-weight: 500;
	background: #FFF;
	position: relative;
	transition: all 0.5s;
}
.unit-portfolio::before {
	position: absolute;
	display: block;
	content: " ";
	top: 22px;
	left: 20px;
	height: 1px;
	right: 52px;
	background: #D5D1E2;
}
.unit-portfolio::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 22px;
	right: 20px;
	height: 1px;
	left: 52px;
	background: #D5D1E2;
}
.unit-portfolio__content {
	padding: 17px 0;
	padding-bottom: 21px;
}
.unit-portfolio__content::after, 
.unit-portfolio__content::before {
    position: absolute;
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
	bottom: 22px;
	left: 20px;
    background-image: url(../img/before.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.unit-portfolio__content::after {
	top: 22px;
	right: 20px;
	bottom: auto;
	left: auto;
	background-image: url(../img/after.svg);
}
.unit-portfolio .title-middle {
	margin-bottom: 5px;	
	color: #000;
	display: block;
}
.unit-portfolio p {
	margin-bottom: 7px;
}
.unit-portfolio .text-min {
	margin-bottom: 18px;
}
.unit-portfolio__image {
	height: 280px;
	margin-bottom: 19px;
	width: 100%;
	display: block;
}
.unit-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.unit-portfolio__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.price-main {
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.03em;
	font-weight: 600;
	color: #756a9a;
}
.unit-portfolio .btn-main {
	padding: 0 18px;
	font-size: 14px;
	height: 36px;
	text-transform: none;
}
.unit-portfolio:hover {
    box-shadow: 0 5px 15px #231c4b4f;
}
.pager {
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	font-size: 14px;
	margin: 0 25px;
	font-weight: 500;
	color: #322867;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.page-numbers.current,
.page-numbers:hover {
	color: #000;
}
.prev.page-numbers,
.next.page-numbers {
	width: 24px;
	height: 24px;
	font-size: 21px;
	cursor: pointer;
	margin: 0;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}
.page-portfolio {
	padding-bottom: 32px;
}
.page-card {
	padding-bottom: 70px;
}
.card-content {
	font-size: 16px;
	padding: 0 48px;
	margin-right: 90px;
	padding-bottom: 20px;
	padding-right: 31px;
	line-height: 160%;
	background: #fff;
	border-radius: 20px;
}
.card-content p {
	margin-bottom: 20px;
}
.card-content .title-middle {
	padding-top: 35px;
	padding-bottom: 5px;
	margin-top: 30px;
	border-top: 1px solid #d5d1e2;
	position: relative;
}
.card-content .title-middle:first-of-type {
	border: none;
	margin-top: 0;
}
.card-content .title-middle::before {
	position: absolute;
	display: block;
	content: " ";
	width: 16px;
	height: 32px;
    top: 37px;
    left: -48px;
	background-image: url(../img/before_title.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.name-card {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 88px;
	margin-left: 100px;
	line-height: 140%;
	color: #332969;
	font-weight: 500;
}
.right-card {
	margin-left: -90px;
}
.feature-card {
	padding-left: 54px;
	margin-bottom: 80px;
	color: #332969;
	position: relative;
}
.feature-card__title {
	font-size: 30px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
}
.feature-card__descr {
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 500;
	line-height: 160%;
	text-transform: uppercase;
}
.feature-card::before {
    position: absolute;
    display: block;
    content: " ";
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(../img/before_line.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-news {
	padding-bottom: 43px;
}
.head-section {
	padding-top: 47px;
	padding-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-section .item-form {
	width: 296px;
	margin: 0;
}
.head-section .title-section {
	padding: 0;
}
.row_news {
	margin: 0 -7px;
}
.row_news > div {
	padding: 0 7px;
	margin-bottom: 18px;
}
.item-news {
	display: block;
	background: #fff;
	border-radius: 20px;
	letter-spacing: 0.02em;
	transition: all 0.5s;
	position: relative;
}
.item-news__image {
	height: 234px;
	border-radius: 20px;
	width: 100%;
	position: relative;
	display: block;
}
.item-news__image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-news__content {
	padding: 17px 20px;
	padding-bottom: 22px;
	width: 100%;
}
.item-news__date {
	margin-bottom: 7px;
}
.item-news__title {
	font-size: 18px;
	margin-bottom: 13px;
	line-height: 140%;
	letter-spacing: 0.02em;
	font-weight: 600;
	color: #141414;
	display: block;
}
.item-news__title:hover {
	color: #322867;
}
.item-news p {
	margin-bottom: 21px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.tags-main {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.tags-main li {
	margin-right: 4px;
}
.tags-main li:last-child {
	margin-right: 0;
}
.tags-main a {
	padding: 4px 8px;
	background: #f4f3f7;
	display: inline-block;
	color: #756a9a;
	border-radius: 3px;
}
.tags-main a:hover {
    background: #ededed;
}
.item-news:hover {
    box-shadow: 0 5px 15px #231c4b4f;
}
.item-news__logo {
	top: 0;
	right: 10px;
	position: absolute;
	width: 84px;
	height: 84px;
	border: 1px solid #d5d1e2;
	border-radius: 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-news__logo img {
	max-width: 100%;
	max-height: 100%;
}
.page-news .pager {
	margin-top: 15px;
}
.article-content {
	padding: 30px;
	font-size: 16px;
	margin-right: 20px;
	line-height: 160%;
	background: #fff;
	border-radius: 20px;
}
.article-content h2 {
	font-size: 18px;
	padding-top: 34px;
	margin-bottom: 16px;
	border-top: 1px solid #d5d1e2;
	line-height: 140%;
	font-weight: 600;
	color: #000;
}
.article-content h2:first-of-type {
	border: none;
	padding-top: 0;
}
.article-content img {
	margin-top: 23px;
	margin-bottom: 28px;
	max-width: 100%;
	height: auto;
}
.article-content li {
	padding-left: 15px;
	margin-left: 5px;
	position: relative;
}
.article-content li::before {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	content: "⦁";
}
.page-article {
	padding-bottom: 86px;
}
.page-article .title-section {
	max-width: 736px;
}
.sidebar-aricle .row > div {
	margin-bottom: 29px;
}
.sidebar-aricle .title-section {
	margin-bottom: 28px;
	padding: 0;
}
.sidebar-aricle {
	margin-left: -20px;
}
.page-contacts {
	padding-bottom: 70px;
	background-image: url(../img/bg_contacts.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.block-contacts {
	padding: 35px 50px;
	font-size: 20px;
	line-height: 200%;
	padding-bottom: 26px;
	color: #000;
	font-weight: 500;
	margin-bottom: 20px;
	border-radius: 30px;
	background: #fff;
}
.block-contacts__item {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.block-contacts__location {
	padding-bottom: 25px;
	text-align: center;
	position: relative;
}
.block-contacts__value {
	font-size: 30px;
	line-height: 140%;
	letter-spacing: 0.03em;
	color: #141414;
	font-weight: 600;
	position: relative;
	display: inline-block;
}
.block-contacts__location::before,
.block-contacts__value::before {
	position: absolute;
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-right: 13px;
	right: 100%;
	background-image: url(../img/li.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.block-contacts__location::before {
	bottom: 0;
	top: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: rotate(90deg);
}
#map {
	height: 394px;
	margin-bottom: 20px;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}
.form-page {
	padding: 48px 86px;
	padding-bottom: 64px;
	border-radius: 30px;
	background: #fff;
}
.socials-main li {
	margin-bottom: 3px;
}
.socials-main a {
	padding: 5px 10px;
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 6px;
	display: inline-flex;
	align-self: center;
}
.socials-main a:hover {
	background: rgba(255, 255, 255, 0.3);
}
.icon-social {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-social img {
	max-width: 100%;
	max-height: 100%;
}
.form-page .title-section {
	margin-bottom: 7px;
	text-align: center;
	padding: 0;
}
.form-page .descr-section {
	padding-bottom: 33px;
	text-align: center;
}
.form-page .btn-main {
	margin-top: 18px;
	width: 100%;
	padding: 0 10px;
}
.col_checkbox {
	align-self: center;
}
.item-video {
	padding: 22px 27px;
	padding-right: 110px;
	height: 310px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	position: relative;
	z-index: 1;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}
.item-video__image {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 20px;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}
.item-video__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #332969 100%);
}
.item-video:hover::after {
	transform: scale(1.1);
}
.item-video__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
	transition: all 0.7s;
}
.item-video::after {
	position: absolute;
	display: block;
	content: " ";
	width: 90px;
	height: 90px;
	bottom: 28px;
	right: 28px;
	border-radius: 50%;
	background-image: url(../img/play2.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.7s;
	background-size: cover;
}
.item-sertificat {
	height: 388px;
	padding: 12px;
	border-radius: 20px;
	background: #fff;
	display: block;
}
.item-sertificat img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-sertificat:hover {
	box-shadow: 0 5px 15px #231c4b4f;
}
.block-review {
	padding: 27px 86px;
	padding-right: 0;
	font-size: 20px;
	margin-bottom: 44px;
	line-height: 140%;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f4f3f7;
}
.block-review .btn-main {
	padding: 0 30px;
}
.block-review__head {
	margin-bottom: 21px;
	display: flex;
	align-items: center;
}
.block-review__head img {
	margin-right: 6px;
}
.rating-wrap {
	display: flex;
	align-items: center;
}
.title-rating {
	margin-bottom: 8px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating {
	display: flex;
	align-items: center;
  }
  .rating__item {
	font-size: 20px;
	color: #756A9A;
	transition: all 0.3s;
	margin-right: 7px;
  }
  .rating_1 > .rating__item:nth-child(1) {
	color: #332969;
  }
  .rating_2 > .rating__item:nth-child(-n+2) {
	color: #332969;
  }
  .rating_3 > .rating__item:nth-child(-n+3) {
	color: #332969;
  }
  .rating_4 > .rating__item:nth-child(-n+4) {
	color: #332969;
  }
  .rating_5 > .rating__item:nth-child(-n+5) {
	color: #332969;
  }
  .rating__item.active {
	color: #332969;
  }
  .descr-rating {
	font-size: 14px;
	margin-left: 20px;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #5d4f84;
}
.image-review img {
	max-width: 100%;
	height: auto;
}
.reviews-block {
	padding: 23px 21px;
	background: #fff;
	border-radius: 30px;
}
.reviews-block .row > div {
	margin-bottom: 80px;
}
.reviews-block .row {
	margin-bottom: -80px;
}
.page-reviews {
	padding-bottom: 86px;
} 

/*new*/
.menu__haschild {
	position: relative;
}
.menu__haschild > i {
	width: 24px;
    height: 24px;
	position: absolute;
	top: 23px;
	right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
	font-size: 15px;
}
.menu__haschild.active > i {
	transform: rotate(180deg);
}
.menu__haschild > a::after {
	display: none;
}
.socials-wrap {
	display: none;
}
.btn-menu.active {
	transform: rotate(228deg);
}
.page-about .title-big {
	font-size: 40px;
	margin-bottom: 41px;
	max-width: 622px;
	line-height: 140%;
}
.image-about {
	margin-left: -210px;
	margin-bottom: -40px;
	margin-top: -5px;
}
.about-block {
	padding: 67px 72px;
	font-size: 16px;
	margin-bottom: 50px;
	line-height: 160%;
	letter-spacing: 0.02em;
	font-weight: 500;
	background: #fff;
	border-radius: 30px;
	position: relative;
}
.about-block .title-section {
	max-width: 357px;
	padding-top: 0;
}
.about-block p {
	margin-bottom: 20px;
}
.about-block p:last-child {
	margin-bottom: 0;
}
.about-block__image {
	margin-top: 46px;
	display: inline-block;
	position: relative;
	z-index: 2;
}
.about-block__image img {
	max-width: 100%;
	height: auto;
}
.about-block__image::after,
.about-block__image::before {
	position: absolute;
	display: block;
	content: " ";
	border: 1px dashed #756a9a;
	border-radius: 15px;
	width: 277px;
	height: 141px;
	top: -46px;
	left: 59px;
	z-index: -1;
}
.about-block__image::after {
	width: 407px;
	height: 254px;
	right: -28px;
	bottom: -64px;
	top: auto;
	left: auto;
}
.about-block .about-block__left {
	padding-right: 60px;
}
.image-main img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 20px;
}
.history-timeline .row {
	margin: 0 -37px;
}
.history-timeline .row > div {
	padding: 0 37px;
}
.history-timeline {
	margin-top: 77px;
	padding-top: 20px;
	position: relative;
}
.history-timeline::before {
	position: absolute;
	display: block;
	content: " ";
	width: 2px;
	height: 100%;
	left: 50%;
	background: #756a9a;
	top: 0;
}
.item-history {
	margin-bottom: 30px;
}
.item-history__year {
	font-size: 36px;
	margin-bottom: 14px;
	line-height: 140%;
	letter-spacing: 0.03em;
	color: #332969;
	font-weight: 600;
	position: relative;
	text-align: right;
}
.item-history__year::after {
	position: absolute;
	display: block;
	content: " ";
	width: 12px;
	height: 24px;
	top: 0;
	bottom: 0;
	right: -33px;
	margin: auto;
	background-image: url(../img/before_year.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-history__content {
	padding: 49px 27px;
	padding-bottom: 25px;
	padding-right: 36px;
	background: #fff;
	min-height: 100%;
	line-height: 140%;
	border-radius: 20px;
	position: relative;
}
.item-history__content::before {
    position: absolute;
    display: block;
    content: " ";
    top: 24px;
    left: 28px;
    height: 1px;
    right: 47px;
    background: #D5D1E2;
}
.item-history__content::after {
    position: absolute;
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    top: 23px;
    right: 20px;
    background-image: url(../img/after.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item-history__content p {
	margin-bottom: 10px;
}
.item-history__content p:last-child {
	margin-bottom: 0;
}
.item-history__image img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}
.item-history:nth-child(even) .row {
	flex-direction: row-reverse;
}
.item-history:nth-child(even) .item-history__year {
	text-align: left;
}
.item-history:nth-child(even) .item-history__year::after {
	left: -32px;
	right: auto;
	transform: scale(-1, -1);
}
.item-history:last-child {
	margin-bottom: 0;
}
.about-client {
	font-size: 24px;
	padding: 80px 84px;
	padding-bottom: 126px;
	margin: 110px 0;
	line-height: 160%;
	letter-spacing: 0.03em;
	text-align: center;
	color: #fff;
	background: #332969;
	border-radius: 15px;
	position: relative;
}
.about-client::before,
.about-client::after {
	position: absolute;
	display: block;
	content: " ";
	top: 39px;
	left: 50px;
	width: 50px;
	height: 42px;
	background-image: url(../img/quote1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.about-client::after {
	bottom: 37px;
	right: 51px;
	background-image: url(../img/quote2.svg);
	top: auto;
	left: auto;
}
.about-client .title-section {
	padding-bottom: 20px;
	text-transform: uppercase;
	padding-top: 0;
}
.inner-section {
	padding-bottom: 110px;
}
.row.row_partners {
	margin: 0 -8px;
	margin-bottom: 16px;
}
.row.row_partners > div {
	padding: 0 8px;
	margin-bottom: 16px;
}
.item-partner {
	height: 164px;
	padding: 10px;
	border-radius: 20px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.inner-section .title-section {
	padding-bottom: 50px;
	padding-top: 0;
}
.inner-section .row_main {
	margin-bottom: -30px;
}
.inner-section.inner-section_team {
	padding-bottom: 80px;
}
.row_team {
	margin: 0 -7px;
	margin-bottom: -14px;
}
.row_team > div {
	margin-bottom: 14px;
	padding: 0 7px;
}
.item-team {
	border-radius: 20px;
	background: #fff;
	min-height: 100%;
	position: relative;
	letter-spacing: 0.02em;
}
.item-team__detail {
	padding: 40px 23px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}
.item-team:hover .item-team__detail {
	visibility: visible;
	opacity: 1;
}
.item-team__detail strong {
	font-weight: 600;
	display: block;
}
.item-team__detail p {
	margin: 0;
}
.item-team__image {
	height: 346px;
	border-radius: 20px;
	width: 100%;
}
.item-team__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-team__content {
	padding: 18px 20px;
	padding-bottom: 58px;
}
.item-team__title {
	margin-bottom: 11px;
	font-size: 16px;
	line-height: 160%;
	font-weight: 700;
}
.item-team::before {
    position: absolute;
    display: block;
    content: " ";
    bottom: 26px;
    left: 20px;
    height: 1px;
    right: 53px;
    background: #D5D1E2;
}
.item-team::after {
    position: absolute;
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    bottom: 25px;
    right: 26px;
    background-image: url(../img/before2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-about {
	background-position: center top;
	background-image: url(../img/main_bg3.jpg);
	background-repeat: no-repeat;
}
.text-page {
	font-size: 20px;
	line-height: 150%;
	font-weight: 500;
	color: #756a9a;
}
.page-about .text-page {
	max-width: 622px;
}
.btn-main.btn-main_page {
	background: #5a2255;
}
.btn-main.btn-main_page:hover {
    background: #320b2f;
}
.page-about__buttons {
	margin-top: 125px;
	display: flex;
	align-items: center;
}
.page-about__buttons .btn-main {
	font-size: 14px;
	margin-right: 35px;
	padding: 0 48px;
	height: 62px;
}
.page-about__buttons .btn-main:last-child {
	margin-right: 0;
}
.about-block.about-block_vacancies .title-section {
	padding-bottom: 20px;
	max-width: 100%;
}
.about-client__name {
	font-size: 20px;
	margin-bottom: 7px;
	line-height: 140%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 600;
}
.about-client__descr {
	font-size: 16px;
	line-height: 140%;
}
.about-client__bottom {
	padding-top: 90px;
}
.about-client.about-client_vacancies {
	padding: 139px 167px;
	padding-bottom: 67px;
	margin-top: 55px;
}
.about-client.about-client_vacancies::before {
	top: 69px;
	left: 86px;
}
.about-client.about-client_vacancies::after {
	bottom: 69px;
	right: 86px;
}
.row_info > div {
	margin-bottom: 30px;
}
.item-info {
	padding: 23px 25px;
	padding-right: 14px;
	letter-spacing: 0.02em;
	background: #fff;
	min-height: 100%;
	border-radius: 20px;
}
.item-info__head {
	font-size: 20px;
	margin-bottom: 16px;
	line-height: 140%;
	font-weight: 700;
	display: flex;
	align-items: center;
}
.item-info li::before {
	position: absolute;
	top: 0;
	left: 7px;
	font-size: 10px;
	content: "⦁";
}
.item-info li {
	padding-left: 20px;
	position: relative;
}
.item-info__icon {
	width: 24px;
	height: 24px;
	margin-right: 30px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-info__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-info-main {
	padding-top: 27px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}
.item-info-main__title {
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0.03em;
	text-align: center;
	color: #332969;
	font-weight: 600;
}
.item-info-main .btn-main {
	font-size: 14px;
	height: 62px;
	margin-top: auto;
	width: 100%;
	padding: 0 10px;
}
.recomend-vacancy {
	padding: 43px 90px;
	padding-bottom: 48px;
	font-size: 16px;
	margin: 90px 0;
	line-height: 160%;
	text-align: center;
	background: #fff;
	border-radius: 20px;
}
.recomend-vacancy .title-section {
	padding-bottom: 36px;
	padding-top: 0;
}
.recomend-vacancy .btn-main {
	margin: 50px 0;
	font-size: 14px;
	height: 62px;
}
.recomend-vacancy__descr {
	font-weight: 500;
	letter-spacing: 0.02em;
}
.recomend-vacancy__info {
	padding: 31px 38px;
	padding-bottom: 35px;
	margin: 0 35px;
	line-height: 140%;
	font-weight: 500;
	color: #fff;
	letter-spacing: 0.03em;
	background: #756a9a;
	border-radius: 15px;
}
.row.row_info {
	margin-bottom: -30px;
}
.resume-vacancy {
	padding: 52px 170px;
	padding-bottom: 49px;
	font-size: 24px;
	line-height: 160%;
	letter-spacing: 0.03em;
	text-align: center;
	color: #fff;
	background: #332969;
	border-radius: 15px;
}
.resume-vacancy .title-section {
	padding-bottom: 36px;
	font-size: 40px;
	font-weight: 700;
	padding-top: 0;
}
.resume-vacancy__text {
	margin-bottom: 42px;
}
.resume-vacancy .btn-main {
	width: 388px;
	font-size: 14px;
	height: 62px;
	max-width: 100%;
	padding: 0 10px;
}
.vacancies-wrap {
	padding: 90px 0;
}
.vacancies-wrap .title-section {
	padding-bottom: 22px;
	padding-top: 0;
}
.contact-vacancy__title {
	font-size: 20px;
	line-height: 200%;
	margin-bottom: 7px;
	font-weight: 500; 
	color: #000;
}
.contact-vacancy__value {
	font-size: 30px;
	line-height: 140%;
	letter-spacing: 0.03em;
	font-weight: 600;
}
.contact-vacancy__value a {
	white-space: nowrap;
	color: #141414;
}
.dropdowns-wrap {
	padding: 0 45px;
	margin-top: 90px;
	background: #fff;
	border-radius: 30px;
}
.item-dropdown__head {
	font-size: 36px;
	padding: 32px 0;
	padding-right: 6px;
	line-height: 140%;
	letter-spacing: 0.03em;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #c1c1c1;
}
.item-dropdown:first-child .item-dropdown__head {
	border: none;
}
.item-dropdown__head i {
	font-size: 18px;
	color: #332969;
	transition: all 0.3s;
}
.item-dropdown.active .item-dropdown__head i {
	transform: rotate(180deg);
}
.item-dropdown__content {
	font-size: 24px;
	padding-top: 28px;
	line-height: 200%;
	border-top: 1px solid #c1c1c1;
	color: #000;
	display: none;
}
.item-dropdown__content li::before {
	position: absolute;
	top: 0;
	left: 7px;
	font-size: 12px;
	content: "⦁";
}
.item-dropdown__content li {
	padding-left: 20px;
	position: relative;
}
.item-dropdown__content p {
	margin-bottom: 16px;
}
.item-dropdown__content ul {
	margin-bottom: 38px;
}
.item-dropdown__subtitle {
	margin-bottom: 35px;
}
.item-dropdown__subtitle strong {
	margin-right: 50px;
}
.page-about .col-md-7 {
	z-index: 2;
}
.about-block .btn-main {
	font-size: 14px;
	padding: 0 50px;
	height: 62px;
}