/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1760px) {
    .content-billbord__inner {
        margin-left: 40px;
    }
    .socials-vertical {
        margin-right: 0;
    }
    .header__wrapper {
        margin-right: 0;
    }
    
}

@media only screen and (max-width : 1600px) {
    .sidebar {
        padding: 33px 40px;
        padding-right: 25px;
        width: 320px;
    }
    .header.fixed {
        padding: 17px 0;
    }
    .wrapper, .wrapper .header {
        padding-left: 320px;
    }
    body {
        font-size: 12px;
    }
    .logo img {
        width: 155px;
    }
    .logo-descr {
        margin-top: 10px;
        margin-bottom: 40px;
        max-width: 150px;
    }
    .menu > li {
        padding: 16px 0;
    }
    .title-big {
        font-size: 41px;
    }
    .billbord .title-big {
        margin-bottom: 30px;
    }
    .content-billbord__inner {
        margin-left: 30px;
    }
    .content-billbord__inner {
        max-width: 605px;
    }
    .content-billbord {
        height: 800px;
    }
    .list-page li {
        font-size: 18px;
        padding-left: 28px;
    }
    .socials-vertical {
        width: 115px;
        height: 310px;
    }
    .list-socials a,
    .socials-vertical a {
        width: 40px;
        height: 40px;
    }
    .list-socials img,
    .socials-vertical img {
        max-width: 18px;
        max-height: 18px;
    }
    .header {
        padding: 28px 0;
    }
    .btn-menu {
        width: 40px;
        height: 40px;
        margin-left: 33px;
    }
    .header__contacts {
        font-size: 11px;
    }
    .phone-main {
        font-size: 16px;
    }
    .billbord__buttons {
        padding-top: 40px;
    }
    .btn-main {
        height: 56px;
        padding: 0 44px;
        font-size: 14px;
    }
    .billbord__buttons .btn-main {
        margin-right: 50px;
    }
    .btn-video img {
        max-width: 65px;
        margin-right: 18px;
    }
    .btn-video {
        font-size: 12px;
    }
    .btn-video span {
        max-width: 100px;
    }
    .header .list-socials {
        margin-right: 57px;
    }
    .item-service__head {
        padding: 27px 25px;
        font-size: 21px;
    }
    .item-service__head span {
        margin-right: 20px;
        font-size: 14px;
    }
    .item-service__content {
        padding: 0 45px;
        padding-bottom: 40px;
    }
    .list-links a {
        padding: 13px 0;
        font-size: 18px;
    }
    .services {
        padding-bottom: 37px;
    }
    .title-section {
        font-size: 31px;
        padding: 32px 0;
    }
    .item-number {
        padding-left: 52px;
        font-size: 16px;
        max-width: 284px;
        margin: 40px auto;
    }
    .item-number__value {
        font-size: 57px;
        margin-bottom: 5px;
    }
    .item-number::before {
        top: 94px;
        left: 0;
        width: 21px;
        height: 21px;
    }
    .portfolio .title-section {
        max-width: 905px;
    }
    .numbers-about .title-section {
        padding-bottom: 20px;
    }
    .tabs a {
        height: 42px;
        padding: 0 23px;
        font-size: 14px;
    }
    .tab-container {
        padding-top: 37px;
    }
    .block-portfolio {
        padding: 30px 30px;
    }
    .title-middle {
        font-size: 21px;
    }
    .item-portfolio .title-middle {
        margin-bottom: 10px;
    }
    .title-small {
        font-size: 16px;
    }
    .item-portfolio .title-small {
        margin-bottom: 11px;
    }
    .text-min {
        font-size: 12px;
    }
    .item-portfolio .text-min {
        margin-bottom: 19px;
    }
    .item-portfolio__content p {
        margin-bottom: 12px;
        letter-spacing: 0.2px;
    }
    .item-portfolio__content {
        padding-top: 13px;
        margin-right: 25px;
        margin-left: 10px;
    }
    .item-portfolio__left {
        max-width: 266px;
    }
    .item-portfolio__content::after, .item-portfolio__content::before {
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    .item-portfolio__bottom {
        width: 90px;
        margin-right: -20px;
    }
    .item-portfolio__content::after {
        margin-right: 0;
        margin-left: 10px;
    }
    .slider-portfolio .slick-prev {
        left: -77px;
    }
    .slider-portfolio .slick-next {
        right: -77px;
    }
    .portfolio {
        padding-top: 28px;
        padding-bottom: 65px;
    }
    .descr-section {
        font-size: 16px;
        padding-bottom: 33px;
    }
    .form-main {
        padding: 36px 65px;
    }
    .consultation {
        padding-bottom: 70px;
    }
    .item-accordion__head {
        padding: 18px 0;
        width: 105px;
    }
    .item-accordion__title {
        font-size: 21px;
    }
    .number-accordion {
        font-size: 13px;
    }
    .item-accordion__head .number-accordion {
        margin-bottom: 35px;
    }
    .item-accordion__inner {
        padding: 18px 55px;
    }
    .item-accordion__top {
        margin-bottom: 32px;
    }
    .item-accordion__inner .number-accordion {
        top: 24px;
        left: 23px;
    }
    .item-accordion__text form {
        margin-top: 44px;
    }
    .item-accordion {
        height: 510px;
    }
    .steps {
        padding-bottom: 65px;
    }
    .about__text {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 150%;
    }
    .about .descr-section {
        padding-bottom: 14px;
    }
    .about__name {
        font-size: 16px;
        padding-top: 28px;
        padding-bottom: 8px;
    }
    .about__bottom {
        padding-top: 63px;
    }
    .about {
        padding-bottom: 50px;
    }
    .footer__logo {
        width: 201px;
    }
    .footer__logo .logo-descr {
        font-size: 11px;
    }
    .footer .footer__main {
        padding-left: 45px;
    }
    .footer__contacts {
        font-size: 11px;
    }
    .footer-bottom {
        margin-top: 30px;
    }
    .list-socials li {
        margin-right: 20px;
    }
    .wrapper {
        background-position: center -35px;
        background-size: 1600px auto;
    }
    
    .list-main li {
        font-size: 16px;
        margin-bottom: 25px;
        padding-left: 32px;
    }
    .wrapper_page .header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .block-billbord {
        padding: 35px;
    }
    .block-billbord .list-main {
        padding-top: 8px;
        padding-bottom: 22px;
    }
    .services-main, 
    .billbord-service {
        padding-bottom: 65px;
    }
    .item-number__value b {
        font-size: 45px;
    }
    .services-unit .list-links a {
        font-size: 20px;
    }
    .services-unit {
        padding: 75px 35px;
    }
    .services-main .item-number {
        margin-bottom: 37px;
    }
    .block-main {
        padding: 27px 25px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .block-main::before {
        top: 25px;
        left: 25px;
        right: 55px;
    }
    .block-main::after {
        bottom: 25px;
        right: 25px;
        left: 55px;
    }
    .block-main__content::before {
        bottom: 24px;
        left: 24px;
    }
    .block-main__content::after {
        top: 24px;
        right: 24px;
    }
    .block-main__content {
        padding: 38px 0;
    }
    .list-simple li {
        padding-left: 34px;
        margin-bottom: 19px;
    }
    .service-info {
        padding-bottom: 55px;
    }
    .block-main__price {
        font-size: 21px;
        padding: 17px 40px;
        padding-bottom: 19px;
        margin-bottom: 24px;
        margin-left: 15px;
        margin-right: 15px;
        letter-spacing: 0.52px;
    }
    .block-main__price strong {
        font-size: 32px;
        letter-spacing: 1px;
    }
    .list-simple li::before {
        width: 21px;
        height: 21px;
    }
    .block-main__center {
        max-width: 345px;
    }
    .wrapper.wrapper_page {
        padding-top: 90px;
    }
    .wrapper_page .header.fixed {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .billbord-service {
        padding-top: 15px;
    }

    .breadcrumbs {
        padding-top: 20px;
    }
    .item-form .jq-selectbox__select-text {
        height: 52px;
        padding: 0 15px;
        font-size: 12px;
    }
    .form-filter .btn-main {
        height: 52px;
        padding: 0 25px;
    }
    .form-filter__wrap .item-form {
        margin-right: 5px;
    }
    .unit-portfolio {
        padding: 20px 30px;
        font-size: 14px;
    }
    .unit-portfolio__image {
        height: 235px;
        margin-bottom: 16px;
    }
    .price-main {
        font-size: 22px;
    }
    .unit-portfolio .btn-main {
        padding: 0 15px;
        font-size: 13px;
        height: 35px;
    }
    .unit-portfolio .text-min {
        margin-bottom: 14px;
    }
    .row_portfolio > div {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .row_portfolio {
        margin: 0 -10px;
    }
    .page-numbers {
        font-size: 13px;
        margin: 0 21px;
    }
    .pager {
        margin-top: 10px;
    }
    .card-content {
        font-size: 14px;
        padding: 0 30px;
        margin-right: 60px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .card-content .title-middle {
        padding-top: 28px;
        padding-bottom: 5px;
        margin-top: 25px;
    }
    .card-content .title-middle::before {
        width: 13px;
        height: 28px;
        top: 31px;
        left: -30px;
    }
    .card-content p {
        margin-bottom: 15px;
    }
    .name-card {
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 54px;
        margin-left: 65px;
    }
    .right-card {
        margin-left: -60px;
    }
    .feature-card__title {
        font-size: 22px;
    }
    .feature-card__descr {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .feature-card::before {
        width: 21px;
        height: 21px;
    }
    .feature-card {
        padding-left: 40px;
        margin-bottom: 50px;
    }
    .page-card {
        padding-bottom: 55px;
    }
    .head-section .item-form {
        width: 258px;
    }
    .head-section {
        padding-top: 38px;
        padding-bottom: 27px;
    }
    .row_news {
        margin: 0 -5px;
    }
    .row_news > div {
        padding: 0 5px;
        margin-bottom: 15px;
    }
    .item-news__image {
        height: 195px;
    }
    .item-news__logo {
        height: 75px;
        width: 75px;
    }
    .item-news__content {
        padding: 15px 15px;
        padding-bottom: 20px;
    }
    .item-news__title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .item-news p {
        margin-bottom: 15px;
    }
    .tags-main a {
        padding: 3px 7px;
    }
    .item-news__image img,
    .item-news__image,
    .item-news {
        border-radius: 15px;
    }
    .article-content {
        padding: 22px;
        font-size: 14px;
        margin-right: 15px;
    }
    .article-content h2 {
        font-size: 16px;
        padding-top: 25px;
        margin-bottom: 13px;
    }
    .sidebar-aricle .title-section {
        margin-bottom: 21px;
    }
    .sidebar-aricle .row > div {
        margin-bottom: 20px;
    }
    .socials-main a {
        padding: 4px 8px;
        font-size: 12px;
    }
    .icon-social {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    .block-contacts {
        padding: 31px 30px;
        font-size: 18px;
        padding-bottom: 24px;
    }
    .block-contacts__value {
        font-size: 26px;
    }
    .block-contacts__item {
        max-width: 308px;
        margin-bottom: 40px;
    }
    .block-contacts__location {
        padding-bottom: 19px;
    }
    #map {
        height: 370px;
    }
    .form-page {
        padding: 36px 50px;
        padding-bottom: 50px;
    }
    .form-page .row {
        margin: 0 -8px;
    }
    .form-page .row > div {
        padding: 0 8px;
    }
    .form-page .descr-section {
        padding-bottom: 24px;
    }
    .item-video {
        padding: 20px 25px;
        padding-right: 93px;
        height: 245px;
        font-size: 14px;
    }
    .page-reviews .row {
        margin: 0 -8px;
    }
    .page-reviews .row > div {
        padding: 0 8px;
    }
    .item-video::after {
        width: 75px;
        height: 75px;
        bottom: 20px;
        right: 20px;
    }
    .item-sertificat {
        height: 310px;
    }
    .block-review {
        padding: 25px 60px;
        padding-right: 0;
        font-size: 18px;
        margin-bottom: 37px;
    }
    .rating__item {
        font-size: 18px;
        margin-right: 4px;
    }
    .descr-rating {
        font-size: 13px;
        margin-left: 15px;
    }
    .reviews-block .row > div {
        margin-bottom: 50px;
    }
    .reviews-block .row {
        margin-bottom: -50px;
    }

        /*new*/
        .menu__haschild > i {
            top: 14px;
        }
        .page-about .title-big {
            font-size: 34px;
            margin-bottom: 25px;
            max-width: 530px;
        }
        .image-about img {
            max-width: 600px;
        }
        .page-about .list-page li {
            font-size: 16px;
            padding-left: 20px;
        }
        .image-about {
            margin-left: -150px;
            margin-bottom: -30px;
        }
        .about-block {
            padding: 50px 40px;
            font-size: 14px;
            margin-bottom: 45px;
            line-height: 160%;
        }
        .about-block .about-block__left {
            padding-right: 20px;
        }
        .about-block p {
            margin-bottom: 15px;
        }
        .about-block__image::before {
            width: 230px;
            height: 120px;
            top: -35px;
            left: 38px;
        }
        .about-block__image::after {
            width: 330px;
            height: 205px;
            right: -20px;
            bottom: -48px;
        }
        .item-history__content {
            padding: 40px 20px;
            padding-bottom: 22px;
            padding-right: 24px;
        }
        .history-timeline .row > div {
            padding: 0 25px;
        }
        .history-timeline .row {
            margin: 0 -25px;
        }
        .item-history__content p {
            margin-bottom: 6px;
        }
        .item-history__year {
            font-size: 32px;
            margin-bottom: 12px;
        }
        .item-history__year::after {
            right: -20px;
        }
        .item-history__year::after {
            width: 10px;
            height: 21px;
        }
        .item-history:nth-child(even) .item-history__year::after {
            left: -19px;
        }
        .about-client {
            font-size: 20px;
            padding: 60px 45px;
            padding-bottom: 95px;
            margin: 85px 0;
        }
        .about-client::before, .about-client::after {
            width: 45px;
            height: 38px;
        }
        .about-client::before {
            top: 28px;
            left: 32px;
        }
        .about-client::after {
            bottom: 28px;
            right: 32px;
        }
        .inner-section .title-section {
            padding-bottom: 30px;
        }
        .item-partner {
            height: 140px;
        }
        .inner-section {
            padding-bottom: 80px;
        }
        .item-team__image {
            height: 270px;
        }
        .item-team__title {
            margin-bottom: 9px;
            font-size: 14px;
        }
        .item-team__content {
            padding: 13px 15px;
            padding-bottom: 45px;
        }
        .item-team::before {
            bottom: 19px;
            left: 15px;
            height: 1px;
            right: 40px;
        }
        .item-team::after {
            bottom: 19px;
            right: 15px;
        }
        .item-team__detail {
            padding: 25px 14px;
        }
        .text-page {
            font-size: 17px;
        }
        .page-about__buttons {
            margin-top: 90px;
        }
        .page-about__buttons .btn-main {
            font-size: 12.4px;
            margin-right: 18px;
            padding: 0 36px;
            height: 56px;
        }
        .resume-vacancy .btn-main,
        .recomend-vacancy .btn-main,
        .item-info-main .btn-main,
        .about-block .btn-main {
            font-size: 13px;
            padding: 0px 45px;
            height: 55px;
        }
        .item-info-main .btn-main {
            padding: 0 10px;
        }
        .about-block.about-block_vacancies .title-section {
            padding-bottom: 11px;
        }
        .about-client.about-client_vacancies {
            padding: 105px 100px;
            padding-bottom: 62px;
            margin-top: 45px;
        }
        .about-client.about-client_vacancies::before {
            top: 45px;
            left: 55px;
        }
        .about-client.about-client_vacancies::after {
            bottom: 45px;
            right: 55px;
        }
        .about-client__bottom {
            padding-top: 65px;
        }
        .about-client__name {
            font-size: 18px;
            margin-bottom: 6px;
        }
        .about-client__descr {
            font-size: 14px;
        }
        .row_info > div {
            padding: 0 10px;
            margin-bottom: 20px;
        }
        .row.row_info {
            margin: 0 -10px;
            margin-bottom: -20px;
        }
        .item-info {
            padding: 19px 15px;
            padding-right: 13px;
            border-radius: 15px;
        }
        .item-info__head {
            font-size: 17px;
            margin-bottom: 13px;
        }
        .item-info__icon {
            margin-right: 20px;
        }
        .item-info-main {
            padding-top: 19px;
        }
        .item-info-main__title {
            font-size: 24px;
        }
        .recomend-vacancy {
            padding: 35px 64px;
            padding-bottom: 39px;
            font-size: 13px;
            margin: 70px 0;
        }
        .recomend-vacancy .btn-main {
            margin: 40px 0;
        }
        .recomend-vacancy__info {
            padding: 26px 30px;
            padding-bottom: 30px;
            margin: 0 20px;
        }
        .resume-vacancy {
            padding: 40px 117px;
            padding-bottom: 45px;
            font-size: 20px;
        }
        .resume-vacancy .title-section {
            padding-bottom: 28px;
            font-size: 35px;
        }
        .resume-vacancy .btn-main {
            width: 320px;
            padding: 0 10px;
        }
        .resume-vacancy__text {
            margin-bottom: 30px;
        }
        .vacancies-wrap {
            padding: 70px 0;
        }
        .contact-vacancy__title {
            font-size: 17px;
        }
        .contact-vacancy__value {
            font-size: 23px;
        }
        .dropdowns-wrap {
            padding: 0 30px;
            margin-top: 70px;
        }
        .item-dropdown__head {
            font-size: 30px;
            padding: 25px 0;
            padding-right: 4px;
        }
        .item-dropdown__head i {
            font-size: 16px;
        }
        .item-dropdown__content {
            font-size: 20px;
            padding-top: 20px;
        }
        .item-dropdown__subtitle {
            margin-bottom: 23px;
        }
        .item-dropdown__content p {
            margin-bottom: 12px;
        }
        .item-dropdown__content ul {
            margin-bottom: 28px;
        }
        .item-dropdown__subtitle strong {
            margin-right: 40px;
        }
}
@media only screen and (max-width : 1350px) {
    .item-accordion__inner {
        padding: 18px 45px;
    }
    .item-accordion__inner .number-accordion {
        left: 18px;
    }
    .item-accordion__text form {
        margin-top: 32px;
    }
    .footer__contacts {
        margin-left: -25px;
    }
    .title-section {
        font-size: 29px;
        padding: 30px 0;
    }
    .descr-section {
        font-size: 14px;
        padding-bottom: 29px;
    }
    .item-number {
        font-size: 15px;
    }
    .slider-portfolio .slick-prev {
        left: -63px;
    }
    .slider-portfolio .slick-next {
        right: -63px;
    }
    .block-portfolio {
        margin: 0 20px;
    }
    .item-form input {
        height: 52px;
    }
    .item-accordion__head {
        width: 88px;
    }
    .block-main__price {
        font-size: 19px;
    }
    .item-number__value b {
        font-size: 42px;
    }

    .unit-portfolio {
        padding: 20px 25px;
        font-size: 13px;
    }
    .unit-portfolio__image {
        height: 185px;
    }
    .price-main {
        font-size: 18px;
    }
    .feature-card__title {
        font-size: 20px;
    }
    .name-card {
        margin-left: 45px;
    }
    .right-card {
        margin-left: -74px;
    }
    .footer .socials-main {
        margin-left: -15px;
    }
    .item-sertificat {
        height: 275px;
        max-width: 200px;
        margin: 0 auto;
    }

    /*new*/
    .page-about .title-big {
        font-size: 31px;
    }
    .image-about img {
        max-width: 530px;
    }
    .image-about {
        margin-left: -128px;
    }
    .page-about__buttons .btn-main {
        font-size: 12px;
        margin-right: 11px;
        padding: 0 30px;
        height: 54px;
    }
    .page-about__buttons {
        margin-top: 55px;
    }
    .recomend-vacancy {
        padding: 35px 16px;
        padding-bottom: 39px;
        font-size: 13px;
        margin: 70px 0;
    }
    .recomend-vacancy .title-section {
        padding-bottom: 25px;
    }
    .resume-vacancy {
        padding: 40px 85px;
        padding-bottom: 45px;
        font-size: 19px;
    }
    .resume-vacancy .title-section {
        font-size: 32px;
    }
    .contact-vacancy__value {
        font-size: 21px;
    }
    .contact-vacancy__title {
        font-size: 15px;
    }
    .item-dropdown__head {
        font-size: 27px;
        padding: 22px 0;
        padding-right: 4px;
    }
    .item-dropdown__content {
        font-size: 18px;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .sidebar {
        padding: 20px 20px;
        padding-right: 15px;
        width: 265px;
    }
    .sidebar {
        padding: 20px 20px;
        padding-right: 15px;
        width: 265px;
    }
    .logo img {
        width: 135px;
    }
    .wrapper, .wrapper .header {
        padding-left: 265px;
    }
    .content-billbord {
        height: 700px;
    }
    .title-big {
        font-size: 35px;
    }    
    .list-page li {
        font-size: 16px;
        padding-left: 24px;
    }
    .billbord__buttons .btn-main {
        margin-right: 33px;
    }
    .socials-vertical {
        width: 92px;
        height: 265px;
    }
    .services .title-section {
        padding-top: 0;
    }
    .list-links a {
        font-size: 16px;
        padding: 10px 0;
    }
    .menu > li {
        padding: 11px 0;
    }
    .item-service__head {
        padding: 24px 20px;
        font-size: 18px;
    }
    .item-service__content {
        padding: 0 25px;
        padding-bottom: 35px;
    }
    .numbers-about .title-section {
        padding-bottom: 0;
    }
    .item-number__value {
        font-size: 40px;
        margin-bottom: 3px;
    }
    .item-number::before {
        top: 67px;
        width: 17px;
        height: 17px;
    }
    .item-number {
        font-size: 13px;
        padding-left: 40px;
        margin: 25px 0;
    }
    .title-section {
        font-size: 24px;
        padding: 25px 0;
    }
    .block-portfolio {
        padding: 15px;
    }
    .title-middle {
        font-size: 16px;
    }
    .title-small {
        font-size: 14px;
    }
    .portfolio {
        padding-bottom: 40px;
    }
    .slider-portfolio .slick-dots {
        bottom: -63px;
    }
    .descr-section {
        padding-bottom: 20px;
        line-height: 160%;
    }
    .form-main {
        padding: 30px;
    }
    .consultation {
        padding-bottom: 40px;
    }
    .row {
        margin: 0 -7px;
    }
    .row > div {
        padding: 0 7px;
    }
    .item-accordion__head {
        width: 75px;
    }
    .steps {
        padding-bottom: 35px;
    }
    .about__text {
        font-size: 12px;
    }
    .footer__logo .logo-descr {
        font-size: 9px;
    }
    .footer__logo {
        width: 145px;
    }
    .footer .footer__services {
        padding-left: 54px;
    }
    .header .list-socials {
        margin-right: 30px;
    }
    .wrapper {
        background-size: cover;
    }
    .list-main li {
        font-size: 14px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .list-main li::before {
        width: 14px;
        height: 14px;
    }
    .block-billbord {
        padding: 20px;
    }
    .services-main, .billbord-service {
        padding-bottom: 45px;
    }
    .item-number__value b {
        font-size: 30px;
    }
    .services-unit {
        padding: 55px 30px;
    }
    .services-unit .list-links a {
        font-size: 16px;
    }
    .block-main {
        font-size: 12px;
        letter-spacing: 0.1px;
    }
    .list-simple li {
        margin-bottom: 15px;
    }
    .block-main__price {
        font-size: 17px;
        padding: 14px 25px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .block-main__price strong {
        font-size: 28px;
    }
    .service-info + .consultation {
        padding-top: 10px;
    }
    .right-card {
        margin-left: -68px;
    }
    .feature-card__title {
        font-size: 18px;
    }
    .feature-card__descr {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .name-card {
        margin-bottom: 40px;
    }
    .feature-card {
        margin-bottom: 35px;
    }
    .page-article .title-section {
        max-width: 650px;
    }
    .article-content img {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .block-contacts__value {
        font-size: 23px;
    }
    .block-contacts {
        padding: 28px 30px;
        font-size: 16px;
        padding-bottom: 24px;
    }
    .block-contacts__item {
        max-width: 264px;
        margin-bottom: 27px;
    }
    #map {
        height: 320px;
    }
    .form-page {
        padding: 25px 23px;
        padding-bottom: 40px;
    }
    .item-video {
        padding: 18px 15px;
        padding-right: 91px;
        height: 205px;
        font-size: 13px;
    }
    .item-video::after {
        width: 60px;
        height: 60px;
        bottom: 15px;
        right: 15px;
    }    
    .item-sertificat {
        padding: 8px;
    }
    .item-sertificat {
        height: 221px;
        max-width: 163px;
        border-radius: 10px;
    }
    .item-sertificat img {
        border-radius: 10px;
    }
    .block-review {
        padding: 25px 35px;
        padding-right: 0;
        font-size: 17px;
        margin-bottom: 34px;
    }
    .block-review__head img {
        max-width: 38px;
        max-height: 38px;
    }
    .block-review__head {
        margin-bottom: 13px;
    }
    .reviews-block .row > div {
        margin-bottom: 30px;
    }
    .reviews-block .row {
        margin-bottom: -30px;
    }
    .page-reviews {
        padding-bottom: 60px;
    }


    /*new*/
    .menu__haschild > i {
        top: 11px;
    }
    .page-about .title-big {
        font-size: 24px;
        margin-bottom: 15px;
        max-width: 370px;
    }
    .page-about .list-page li {
        font-size: 14px;
        padding-left: 17px;
    }
    .image-about img {
        max-width: 430px;
    }
    .image-about {
        margin-left: -90px;
    }
    .about-block {
        padding: 25px 15px;
        font-size: 12px;
        margin-bottom: 40px;
        line-height: 160%;
    }
    .about-block .title-section {
        padding-bottom: 15px;
    }
    .about-block p {
        margin-bottom: 10px;
    }
    .about-block .about-block__left {
        padding-right: 5px;
    }
    .about-block__image::before {
        width: 190px;
        height: 90px;
        top: -25px;
        left: 25px;
    }
    .about-block__image::after {
        width: 265px;
        height: 155px;
        right: -10px;
        bottom: -30px;
    }
    .history-timeline {
        margin-top: 55px;
    }
    .about-client {
        font-size: 16px;
        padding: 45px 15px;
        padding-bottom: 60px;
        margin: 65px 0;
    }
    .item-partner {
        height: 120px;
    }
    .row.row_team > div,
    .row.row_partners > div {
        padding: 0 4px;
        margin-bottom: 8px;
    }
    .row.row_team,
    .row.row_partners {
        margin: 0 -4px;
        margin-bottom: -8px;
    }
    .inner-section {
        padding-bottom: 50px;
    }
    .item-team__image {
        height: 205px;
    }
    .row_info > div {
        padding: 0 4px;
        margin-bottom: 8px;
    }
    .row.row_info {
        margin: 0 -4px;
        margin-bottom: -8px;
    }
    .item-info {
        padding: 13px 10px;
        padding-right: 9px;
    }
    .item-info__icon {
        margin-right: 12px;
        width: 22px;
        height: 22px;
    }
    .item-info__head {
        font-size: 15px;
        margin-bottom: 11px;
    }
    .item-info-main__title {
        font-size: 20px;
    }
    .recomend-vacancy .btn-main {
        margin: 30px 0;
    }
    .resume-vacancy .title-section {
        font-size: 26px;
    }
    .resume-vacancy {
        padding: 40px 60px;
        padding-bottom: 45px;
        font-size: 16px;
    }
    .contact-vacancy__value {
        font-size: 18px;
    }
    .contact-vacancy__title {
        font-size: 14px;
    }
    .vacancies-wrap {
        padding: 50px 0;
    }
    .dropdowns-wrap {
        padding: 0 20px;
        margin-top: 45px;
    }
    .item-dropdown__head {
        font-size: 22px;
        padding: 18px 0;
        padding-right: 4px;
    }
    .item-dropdown__content {
        font-size: 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sidebar {
        display: none;
    }
    .wrapper, .wrapper .header {
        padding-left: 0;
    }
    .header {
        padding: 20px 0;
    }
    .content-billbord__inner {
        margin: 0;
    }
    .image-services {
        margin-top: 20px;
    }
    .item-accordion__text form {
        margin-top: 15px;
    }
    .about__bottom {
        padding-top: 30px;
    }
    .content-billbord {
        padding-top: 100px;
        padding-bottom: 80px;
        height: auto;
    }
    .header .list-socials {
        display: none;
    }
    .header.fixed,
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
        background: #322867;
    }
    .header__logo {
        display: block;
    }
    .btn-menu {
        background-image: url(../img/menu_mob.svg);
    }
    .phone-main {
        font-size: 15px;
    }
    .header__contacts {
        display: none;
    }
    .phone-mobile {
        width: 40px;
        height: 40px;
        font-size: 16px;
        background-color: #fff;
        border-radius: 50%;
        color: #322867;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-menu {
        margin: 0;
        order: -1;
    }
    .header__wrapper {
        justify-content: space-between;
    }
    .btn-menu_mobile {
        display: flex;
    }
    .btn-menu_catalog {
        display: none;
    }
    .sidebar {
        top: 70px;
        width: 100%;
        max-height: calc(100vh - 70px);
    }
    .logo-descr {
        max-width: 170px;
        margin-bottom: 20px;
    }
    body {
        font-size: 13px;
    }
    .btn-menu:hover {
        transform: none;
    }
    .btn-menu.active {
        transform: rotate(228deg);
    }
    .wrapper_page .header {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        color: #fff;
        background: #322867;
    }
    .wrapper.wrapper_page {
        padding-top: 70px;
    }
    .block-billbord .list-main {
        padding: 0;
    }
    .block-billbord {
        padding: 30px;
    }
    .block-billbord__image {
        margin-top: 20px;
    }
    .block-billbord__image img {
        margin: 0 auto;
    }
    .services-main .item-number {
        margin-top: 25px;
        margin-bottom: 0;
    }
    .service-info .title-section {
        padding-top: 0;
    }
    .phone-mobile i {
        transform: rotate(5deg);
    }
    .card-content {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .right-card {
        margin: 0;
    }
    .name-card {
        margin: 0;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .feature-card:last-child {
        margin-bottom: 0;
    }
    .feature-card {
        margin-bottom: 25px;
    }
    .article-content {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .page-article {
        padding-bottom: 40px;
    }
    .sidebar-aricle {
        margin: 0;
    }
    .wrapper_finance .header {
        background-color: #5A2255;
    } 
    .wrapper_legal .header {
        background-color: #2F6067;
    }

    /*new*/
    .menu__haschild > i {
        top: 8px;
    }
    .item-team__image {
        height: 260px;
    }
    .page-about__buttons .btn-main {
        font-size: 12px;
        margin-right: 11px;
        padding: 0 19px;
        height: 49px;
    }
    .page-about__buttons {
        margin-top: 24px;
    }
    .about-client.about-client_vacancies {
        padding: 66px 40px;
        padding-bottom: 45px;
        margin-top: 35px;
    }
    .about-client.about-client_vacancies::before {
        top: 30px;
        left: 30px;
    }
    .about-client.about-client_vacancies::after {
        bottom: 30px;
        right: 30px;
    }
    .about-client__descr {
        font-size: 13px;
    }
    .about-client__name {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .about-client__bottom {
        padding-top: 45px;
    }
    .contact-vacancy {
        margin-bottom: 15px;
    }
    .dropdowns-wrap {
        margin-top: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .socials-vertical {
        display: none;
    }
    .title-big {
        font-size: 28px;
    }
    .billbord .title-big {
        max-width: 423px;
        margin-bottom: 20px;
    }
    .list-page li {
        font-size: 14px;
        padding-left: 18px;
    }
    .billbord__buttons {
        padding-top: 25px;
    }
    .content-billbord {
        padding-top: 125px;
        padding-bottom: 50px;
    }
    .list-links {
        padding-right: 0;
    }
    .item-service:last-child {
        padding-bottom: 15px;
    }
    .portfolio .title-section {
        padding-top: 0;
    }
    .block-portfolio {
        padding-bottom: 25px;
        margin: 0;
        box-shadow: 0 0 10px #3329691f;
    }
    .item-portfolio__image {
        margin-bottom: 20px;
    }
    .tab-container {
        padding-top: 27px;
    }
    .consultation .title-section {
        padding-top: 20px;
    }
    .form-main__bottom {
        padding-top: 10px;
        flex-direction: column-reverse;
    }
    .form-main__bottom .checkbox {
        margin-top: 20px;
    }
    .consultation {
        padding-bottom: 30px;
    }
    .tabs li {
        padding: 0 2px;
    }
    .tabs a {
        height: 42px;
        padding: 0 18px;
        font-size: 13px;
    }
    .steps .descr-section {
        padding-bottom: 15px;
    }
    .about .title-section {
        padding-top: 10px;
        padding-bottom: 9px;
    }
    .about__left {
        margin-right: 0;
    }
    .about__image {
        margin: 0;
    }
    .footer .footer__services,
    .footer .footer__main {
        padding-left: 7px;
    }
    .footer__contacts {
        margin: 0;
    }
    .footer-bottom .row > div:nth-child(even) {
        text-align: right;
    }
    .btn_top {
        display: none !important;
    }
    .footer {
        padding-top: 33px;
        padding-bottom: 20px;
    }
    .footer__logo {
        width: 200px;
        margin-bottom: 20px;
    }
    .footer__logo .logo img {
        width: 160px;
    }
    .footer__logo .logo-descr {
        font-size: 11px;
    }
    .about {
        padding-bottom: 40px;
    }
    .about__bottom {
        padding-top: 22px;
    }
    .item-portfolio__left {
        max-width: 100%;
    }
    .item-portfolio__content {
        margin: 0;
    }
    .item-portfolio__bottom {
        margin-right: 0;
    }
    .item-portfolio__content::after, .item-portfolio__content::before {
        display: none;
    }
    .slider-accordion {
        box-shadow: 0 0px 10px #3329690d;
        border-radius: 30px 30px 0px 0px;
        display: block;
    }
    .item-accordion {
        border-radius: 30px 30px 0px 0px;
        box-shadow: 0 -10px 10px #3329690d;
        height: auto;
        display: block;
    }
    .item-accordion.active .item-accordion__head {
        width: 100%;
        opacity: 1;
    }
    .item-accordion__head .item-accordion__title {
        writing-mode: initial;
        text-orientation: initial;
        transform: none;
    }
    .item-accordion:first-child .item-accordion__content {
        display: block;
    }
    .item-accordion__content {
        width: 100%;
        display: none;
        transition: initial;
    }
    .item-accordion__inner, .item-accordion.active .item-accordion__content {
        width: 100%;
    }
    .item-accordion__inner {
        padding: 0 15px;
        padding-bottom: 30px;
        transform: none !important;
    }
    .item-accordion__text {
        max-height: initial;
        overflow: initial;
    }
    .item-accordion__top {
        display: none;
    }
    .item-accordion__head {
        padding: 30px 15px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .item-accordion__title {
        font-size: 18px;
    }
    .item-accordion__head .number-accordion {
        margin: 0;
        margin-right: 10px;
    }
    .slider-portfolio .slick-dots {
        bottom: -70px;
    }
    .numbers-about {
        padding-bottom: 15px;
    }
    .steps .tab-container {
        padding-top: 27px;
    }

    .unit-portfolio__image {
        height: 220px;
    }
    .unit-portfolio {
        font-size: 14px;
    }
    .form-filter__wrap {
        flex-wrap: wrap;
    }
    .form-filter__wrap .item-form {
        width: 50%;
        margin: 0;
        padding: 0 2px;
        margin-bottom: 10px;
    }
    .form-filter .btn-main {
        width: 100%;
    }
    .form-filter {
        margin-bottom: 25px;
    }
    .item-news__image {
        height: 237px;
    }
    .footer .socials-main {
        margin-left: 0;
    }
    .block-contacts__item {
        max-width: 100%;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    .block-contacts {
        line-height: 160%;
    }
    .col_checkbox {
        order: 2;
    }
    .form-page .checkbox {
        justify-content: center;
    }
    .page-contacts {
        padding-bottom: 55px;
        background-position: left top;
    }
    .item-video {
        height: 235px;
    }
    .item-sertificat {
        height: 270px;
        max-width: 195px;
    }
    .page-reviews .row_main > div {
        margin-bottom: 15px;
    }
    .block-review {
        padding: 25px;
        display: block;
    }
    .block-review .btn-main {
        margin-top: 20px;
    }

    /*new*/
    .image-about img {
        max-width: 100%;
    }
    .image-about {
        margin: 0;
        margin-bottom: -25px;
    }
    .about-block {
        font-size: 13px;
        padding-bottom: 30px;
    }
    .about-block__image {
        margin-top: 26px;
    }
    .item-history__year {
        text-align: left;
    }
    .history-timeline::before {
        left: 0;
    }
    .history-timeline {
        padding-left: 20px;
    }
    .item-history__year::after {
        right: auto;
        left: -15px !important;
        transform: scale(-1, -1);
    }
    .item-history__content {
        margin-bottom: 20px;
        min-height: initial;
    }
    .about-client::before {
        top: 15px;
        left: 15px;
    }
    .about-client::after {
        bottom: 15px;
        right: 15px;
    }
    .about-client::before, .about-client::after {
        width: 32px;
        height: 27px;
    }
    .about-client {
        font-size: 14px;
        padding: 37px 15px;
        padding-bottom: 55px;
        margin: 45px 0;
    }
    .inner-section .title-section {
        padding-bottom: 24px;
    }
    .inner-section.inner-section_team {
        padding-bottom: 55px;
    }
    .page-about__buttons {
        margin-bottom: 20px;
    }
    .text-page {
        font-size: 15px;
    }
    .page-about .text-page {
        max-width: 440px;
    }
    .resume-vacancy .btn-main, 
    .recomend-vacancy .btn-main, 
    .item-info-main .btn-main, 
    .about-block .btn-main {
        height: 50px;
    }
    .about-block_vacancies .btn-main {
        margin-bottom: 10px;
    }
    .about-client.about-client_vacancies {
        padding: 45px 20px;
        padding-bottom: 39px;
        margin-top: 20px;
    }
    .about-client.about-client_vacancies::before {
        top: 13px;
        left: 13px;
    }
    .about-client.about-client_vacancies::after {
        bottom: 13px;
        right: 13px;
    }
    .about-client__bottom {
        padding-top: 30px;
    }
    .item-info-main__title {
        margin-bottom: 20px;
    }
    .recomend-vacancy {
        padding: 15px 16px;
        padding-bottom: 25px;
        font-size: 13px;
        margin: 40px 0;
    }
    .recomend-vacancy__info {
        margin: 0;
    }
    .resume-vacancy {
        padding: 30px 15px;
        padding-bottom: 35px;
        font-size: 14px;
    }
    .resume-vacancy .btn-main {
        width: 290px;
    }
    .resume-vacancy .title-section {
        font-size: 23px;
        padding-bottom: 22px;
    }
    .vacancies-wrap .title-section {
        padding-bottom: 17px;
    }
    .vacancies-wrap {
        padding-top: 40px;
    }
    .dropdowns-wrap {
        padding: 0 15px;
    }
    .item-dropdown__head {
        font-size: 18px;
        padding: 18px 0;
        padding-right: 2px;
    }
    .item-dropdown__head i {
        font-size: 14px;
    }
    .item-dropdown__content {
        font-size: 13px;
        line-height: 180%;
    }
    .item-dropdown__content ul {
        margin-bottom: 18px;
    }
    .item-dropdown__subtitle strong {
        margin-right: 25px;
    }
    .item-dropdown__subtitle {
        margin-bottom: 16px;
    }
    .page-about {
        background-repeat: repeat-y;
        background-size: 1200px auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .billbord__buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .billbord__buttons .btn-video {
        margin-top: 15px;
    }
    .billbord__buttons .btn-main {
        margin-right: 0;
    }
    .billbord__buttons {
        padding-top: 15px;
    }
    .title-big {
        font-size: 26px;
    }
    .content-billbord {
        padding-bottom: 45px;
    }
    .item-service__head {
        padding: 22px 15px;
        font-size: 16px;
    }
    .item-service__head span {
        margin-right: 11px;
        font-size: 13px;
    }
    .item-service__content {
        padding: 0 15px;
        padding-bottom: 30px;
    }
    .numbers-about .title-section {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .item-number {
        margin-top: 0;
        margin-bottom: 30px;
        padding-left: 0;
    }
    .item-number::before {
        display: none;
    }
    .tabs a {
        height: 40px;
        padding: 0 11px;
        font-size: 12px;
    }
    .title-section {
        font-size: 22px;
        padding: 21px 0;
    }
    .consultation {
        padding-top: 15px;
    }
    .form-main {
        padding: 20px;
        padding-bottom: 25px;
    }
    .item-accordion__title {
        font-size: 17px;
    }
    .item-accordion__head {
        padding: 25px 15px;
    }
    .steps .tabs a {
        padding: 0 8px;
    }
    .portfolio .title-section {
        font-size: 20px;
    }
    .block-billbord {
        padding: 25px 20px;
        border-radius: 20px;
    }
    .services-main .title-section {
        padding-top: 0;
    }
    .image-service {
        height: 120px;
        border-radius: 20px 21px 0px 0px;
    }
    .image-service img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        border-radius: 20px 21px 0px 0px;
        max-width: initial;
        box-shadow: 0 -8px 15px #33296942;
    }
    .service-info {
        padding-bottom: 35px;
    }
    .block-main__center,
    .block-main__price {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .services-unit {
        padding: 40px 25px;
        border-radius: 20px;
    }
    .block-billbord .btn-main {
        padding: 0 20px;
    }
    .unit-portfolio__image {
        height: 179px;
    }
    .unit-portfolio {
        font-size: 13px;
        padding: 20px;
    }
    .card-content {
        font-size: 13px;
        padding: 0 25px;
    }
    .card-content .title-middle {
        padding-top: 20px;
        padding-bottom: 5px;
        margin-top: 20px;
    }
    .card-content .title-middle::before {
        width: 11px;
        height: 23px;
        top: 20px;
        left: -24px;
    }
    .item-news__image {
        height: 205px;
    }
    .head-section .item-form {
        width: 210px;
    }
    .article-content {
        padding: 20px 15px;
    }
    .block-contacts__value {
        font-size: 21px;
    }
    .form-page .descr-section {
        padding-bottom: 17px;
    }
    .item-video {
        height: 200px;
    }
    .item-sertificat {
        height: 223px;
        max-width: 160px;
    }
    .rating__item {
        font-size: 16px;
        margin-right: 3px;
    }
    .descr-rating {
        margin-left: 10px;
    }
    .page-reviews {
        padding-bottom: 50px;
    }

    /*new*/
    .page-about .title-big {
        font-size: 22px;
        margin-bottom: 14px;
        max-width: 335px;
    }
    .about-block .title-section {
        max-width: 280px;
    }
    .about-block__image::after {
        bottom: -19px;
    }
    .about-block {
        border-radius: 20px;
    }
    .about-block__image::before {
        width: 165px;
        height: 81px;
        top: -20px;
        left: 13px;
    }
    .inner-section {
        padding-bottom: 40px;
    }
    .item-partner {
        height: 100px;
        border-radius: 20px;
    }
    .item-team__image {
        height: 196px;
    }
    .item-team__content {
        padding: 11px 10px;
        padding-bottom: 35px;
    }
    .item-team {
        font-size: 12px;
        line-height: 140%;
    }
    .item-team__title {
        margin-bottom: 7px;
        font-size: 13px;
    }
    .item-team__detail {
        padding: 20px 10px;
    }
    .recomend-vacancy .title-section {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .recomend-vacancy__info {
        padding: 22px 20px;
        padding-bottom: 25px;
    }
    .resume-vacancy .title-section {
        font-size: 20px;
        padding-bottom: 18px;
    }
    .resume-vacancy {
        font-size: 13px;
    }
    .item-dropdown__subtitle strong {
        margin-right: 7px;
    }
    .item-dropdown__head {
        font-size: 16px;
    }
    .history-timeline {
        margin-top: 30px;
        padding-top: 10px;
    }
    .about-client.about-client_vacancies {
        padding-bottom: 50px;
    }
    .item-team::after {
        bottom: 13px;
        right: 12px;
    }
    .item-team::before {
        bottom: 13px;
        right: 37px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .btn-menu_mobile {
        display: none;
    }
    .sidebar {
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
        max-width: 980px;
    }
}
@media (min-width: 1600px) {
	.container {
    max-width: 1230px;
}
}

@media (min-width: 1920px) {
	.wrapper {
        background-size: cover;
}
}